.slide{
    width: 100%;
background-color:rgb(255, 226, 189);
text-transform: capitalize;
white-space: nowrap;
overflow: hidden;
margin-top: 0%;
}

.slide div{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    animation: animate 20s linear infinite;
    padding-left: 70%;
    display:inline-flex;
}
.slide div:hover{
    display: block;
}
ul{
    list-style: none;
    display: flex;
    
}
li{
    padding: .5rem;
}
@keyframes animate{
100%{
    transform: translate(-100%, 0);
}
}